* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}

main {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2.5fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header-section"
  "card-section";
  overflow: hidden;
  grid-gap: 10px;
}

/*-----HEADER SECTION---------*/
.header-section {
  grid-area: header-section;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contents {
  justify-content: space-evenly;
  padding: 0 34%;
}

.primary,
.secondary,
.header-contents p {
  text-align: center;
  justify-self: center;
}

.primary {
  font-weight: 200;
  font-size: 240%;
  color: hsl(229, 6%, 66%);
  margin-bottom: -5px;
}

.secondary {
  font-weight: 600;
  font-size: 235%;
  padding-bottom: 10px;
}

.header-contents p {
  text-overflow: clip;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  line-height: 130%;
}


/*-----CARD SECTION---------*/
.card-section {
  grid-area: card-section;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". team ."
    "lead team calc"
    "lead karma calc"
    ". karma .";
  grid-gap: 35px;
  padding: 0 240px 40px 240px;
}

.card {
  box-shadow: 
    5px 10px 10px hsla(229, 6%, 66%, 0.075),
    -5px 10px 10px hsla(229, 6%, 66%, 0.075),
    0 2px 4px hsla(229, 6%, 66%, 0.253);
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  font-size: 85%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 160%;
}

.card h2 {
  padding-bottom: 15px;
}

.card p {
  color: hsl(229, 6%, 66%);
}

.card.lead {
  grid-area: lead;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.card.team {
  grid-area: team;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card.karma {
  grid-area: karma;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card.calc {
  grid-area: calc;
  border-top: 4px solid hsl(212, 86%, 64%);
}

.image-row img {
  display: block;
  float: right;
  margin-top: 30px;
}

@media only screen and (max-width: 375px) {
  main {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header-section"
    "card-section";
    overflow: hidden;
    grid-gap: 10px;
    width: 90%;
    margin: 0px 5%;
  }
  
  .header-contents {
    grid-area: header-section;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    line-height: 300%;
  }
  .primary,
  .secondary {
    font-size: 24px;
    display: flex;
    justify-self: stretch;
    padding: 0 10px;
  }
  div p {
    padding-top: 15px;
  }
  .card-section {
    grid-area: card-section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "lead"
      "team"
      "karma"
      "calc";
    grid-column-gap: 30px;
    padding: 0 10px 40px 10px;
  }
  
  .card {
    width: 200%;
  }
  .card.lead {
    grid-area: lead;
    border-top: 4px solid hsl(180, 62%, 55%);
  }
  
  .card.team {
    grid-area: team;
    border-top: 4px solid hsl(0, 78%, 62%);
  }
  
  .card.karma {
    grid-area: karma;
    border-top: 4px solid hsl(34, 97%, 64%);
  }
  
  .card.calc {
    grid-area: calc;
    border-top: 4px solid hsl(212, 86%, 64%);
  }
}
